<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
   <p> Team Name: <input name="TeamName" placeholder=""> <br/>
    Team Motto: <input name="TeamMotto" placeholder=""></p>
 
<h2>Hero 1</h2>

   <p> Hero's Name: <input name="[team][hero][][name]" placeholder=""> <br/>
       Hero's Power: <input name="[team][hero][][power]" placeholder=""><br/>
       Hero's Biography: <input name="[team][hero][][bio]" placeholder=""></p>

<h2>Hero 2</h2>

<p> Hero's Name: <input name="[team][hero][][name]" placeholder=""> <br/>
       Hero's Power: <input name="[team][hero][][power]" placeholder=""><br/>
       Hero's Biography: <input name="[team][hero][][bio]" placeholder=""></p>
       
<h2>Hero 3</h2>
    
<p> Hero's Name: <input name="[team][hero][][name]" placeholder=""> <br/>
        Hero's Power: <input name="[team][hero][][power]" placeholder=""><br/>
       Hero's Biography: <input name="[team][hero][][bio]" placeholder=""></p>
      
    <button>Submit</button>
</form> 

 
