<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">
    <span>Team Name: <span><input name="team[name]"><br/>
    <span>Team Motto: <span><input name="team[motto]"><br/>


<h2>Hero 1</h2>
    <span>Hero's Name: <span><input name="hero_1[name]"><br/>
    <span>Hero's Power: <span><input name="hero_1[power]"><br/>
    <span>Hero's Biography: <span><input name="hero_1[Biography]"><br/>


<h2>Hero 2</h2>
    <span>Hero's Name: <span><input name="hero_2[name]"><br/>
    <span>Hero's Power: <span><input name="hero_2[power]"><br/>
    <span>Hero's Biography: <span><input name="hero_2[Biography]"><br/>


<h2>Hero 3</h2>
    <span>Hero's Name: <span><input name="hero_3[name]"><br/>
    <span>Hero's Power: <span><input name="hero_3[power]"><br/>
    <span>Hero's Biography: <span><input name="hero_3[Biography]"><br/>


<p><input type="submit" value="Submit"></p>
